In [29]:
from pathlib import Path
import csv
import pandas as pd

In [30]:
# Set the path
file_path = Path("budget_data.csv")
budget_data = pd.read_csv(file_path)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [47]:
# Analysis 
Total_Months = 0 
Average_Change = []
Month2Month = []
Max_profit = []
Min_profit = []
TPL = 0
Max_profit_Date = []
Min_profit_Date = []
Profit_Loss = []
Date = []

with open (file_path, 'r') as csvfile: 
    csvreader = csv.reader(csvfile, delimiter=',')
    header= next(csvreader)
    for row in csvreader:
        Total_Months+= 1
        TPL+=int(row[1])
        
        Date.append(row[0])
        
        Profit_Loss.append(int(row[1]))
        
for i in range(1, len(Profit_Loss)):
    Month2Month.append(Profit_Loss[i]- Profit_Loss[i-1])
    Average_Change = sum(Month2Month)/len(Month2Month)
    Max_profit = max(Month2Month)
    Min_profit = min(Month2Month)
    Max_profit_date = str(Date[Month2Month.index(max(Month2Month))])
    Min_profit_date = str(Date[Month2Month.index(min(Month2Month))])
    
print(f"Total Months; {Total_Months}")
print(f"Total Profit/Loss: ${TPL}")
print(f"Average profit change Month to Month: $ {Average_Change}")
print(f"Greatest increase in profit: {Max_profit_Date}${Max_profit}")
print(f"Greatest decrease in profit:{Min_profit_Date} ${Min_profit}")

Total Months; 86
Total Profit/Loss: $38382578
Average profit change Month to Month: $ -2315.1176470588234
Greatest increase in profit: []$1926159
Greatest decrease in profit:[] $-2196167

In [51]:
file_to_output = Path("budget_analysis.txt")

In [56]:
# Export the results to text file
with open(file_to_output, "w") as txt_file:
    txt_file.write(f"Financial Analysis\n")
    txt_file.write(f"-------------------\n")
    txt_file.write(f"Total Months: {Total_Months}\n")
    txt_file.write(f"Total: ${TPL}\n")
    txt_file.write(f"Average Change: ${Average_Change}\n")
    txt_file.write(f"Greatest increase in profit:{Max_profit_date} ${Max_profit}\n")
    txt_file.write(f"Greatest decrease in profit:{Min_profit_date} ${Min_profit}\n")